@import "tailwindcss";

@theme {
    --color-primary: #050816;
    --color-secondary: #aaa6c3;
    --color-tertiary: #151030;
    --color-black-100: #100d25;
    --color-black-200: #090325;
    --color-white-100: #f3f3f3;
}

.blue-text-gradient {
    background: linear-gradient(to right, #00c6ff, #0072ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.green-text-gradient {
    background: linear-gradient(to right, #11998e, #38ef7d);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
    background: linear-gradient(to right, #ec008c, #fc6767);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.red-text-gradient {
    background: linear-gradient(to right, #ff4b1f, #ff9068);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}